In [2]:
import pandas as pd

In [3]:
import pandas as pd

# 示例DataFrame
data = {
    0: ['美国', '中国大陆', '美国', '美国', '日本', None, None, None, None, None],
    1: [None, '中国香港', None, '墨西哥', None, None, None, None, None, None],
    2: [None, None, None, None, None, None, None, None, None, None],
    3: [None, None, None, None, None, None, None, None, None, None],
    4: [None, None, None, None, None, None, None, None, None, None],
    5: [None, None, None, None, None, None, None, None, None, None],
}
df = pd.DataFrame(data)

In [5]:
df.head()

      0     1     2     3     4     5
0    美国  None  None  None  None  None
1  中国大陆  中国香港  None  None  None  None
2    美国  None  None  None  None  None
3    美国   墨西哥  None  None  None  None
4    日本  None  None  None  None  None

In [6]:
# 将所有列合并到一个列中
melted_df = df.melt(value_name='country').dropna()

# 统计每个国家出现的次数
country_counts = melted_df['country'].value_counts()

print(country_counts)

country
美国      3
中国大陆    1
日本      1
中国香港    1
墨西哥     1
Name: count, dtype: int64

In [7]:
melted_df

    variable country
0          0      美国
1          0    中国大陆
2          0      美国
3          0      美国
4          0      日本
11         1    中国香港
13         1     墨西哥

In [8]:
country_counts

country
美国      3
中国大陆    1
日本      1
中国香港    1
墨西哥     1
Name: count, dtype: int64